<a href="https://colab.research.google.com/github/lydiamokaya/Python-basics/blob/master/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Data Analysis: Electric car usage**

You have been tasked to process stations data to understand electric car usage over time by solving for the following research question;

Research Question

Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.
Bonus Questions (Optional)

What is the most popular hour for returning cars?
What station is the most popular?
Overall?
At the most popular picking hour?
What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?
Overall?
At the most popular picking hour?
Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?

1.0 Importing our pandas and numpy libraries.

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

1.1 Importing data from CSV files

In [ ]:
df= pd.read_csv("Autolib_dataset (2).csv")

1.2 Previewing our dataset

In [ ]:
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

1.3 Accessing information about our dataset

In [ ]:
# Getting to know more about the dataset by accessing its information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

1.4 Cleaning our Dataset

In [ ]:
# Get column data types
df.dtypes

Address                object
Cars                    int64
Bluecar counter         int64
Utilib counter          int64
Utilib 1.4 counter      int64
Charge Slots            int64
Charging Status        object
City                   object
Displayed comment      object
ID                     object
Kind                   object
Geo point              object
Postal code             int64
Public name            object
Rental status          object
Scheduled at           object
Slots                   int64
Station type           object
Status                 object
Subscription status    object
year                    int64
month                   int64
day                     int64
hour                    int64
minute                  int64
dtype: object

In [ ]:
df.shape

(5000, 25)

In [ ]:
#renaming columns
df.columns = df.columns.str.strip().str.lower().str.replace(' ','_')
df.columns= df.columns.str.strip().str.lower().str.replace('.','_')
df.columns

Index(['address', 'cars', 'bluecar_counter', 'utilib_counter',
       'utilib_1_4_counter', 'charge_slots', 'charging_status', 'city',
       'displayed_comment', 'id', 'kind', 'geo_point', 'postal_code',
       'public_name', 'rental_status', 'scheduled_at', 'slots', 'station_type',
       'status', 'subscription_status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')

In [ ]:
#droping columns
df.drop(['charge_slots','charging_status','displayed_comment','geo_point','public_name','rental_status','scheduled_at','slots','subscription_status'], axis=1, inplace= True)
df.head()

                              address  cars  bluecar_counter  ...  day  hour minute
0                 2 Avenue de Suffren     0                0  ...    8    11     43
1           145 Rue Raymond Losserand     6                6  ...    6     7     24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20     14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4     37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17     23

[5 rows x 16 columns]

In [ ]:
df.shape

(5000, 16)

In [ ]:
# Checking for null values
df.isnull().sum()

address               0
cars                  0
bluecar_counter       0
utilib_counter        0
utilib_1_4_counter    0
city                  0
id                    0
kind                  0
postal_code           0
station_type          0
status                0
year                  0
month                 0
day                   0
hour                  0
minute                0
dtype: int64

1.5 Performing data analysis

In [ ]:
#the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.
blue = df[(df.city == 'Paris')  & (df.bluecar_counter > 0) & (df.month == 4) & (df.year == 2018)]
newBlue= blue[['bluecar_counter','city','month','year','hour', 'minute']].sort_values(by ='bluecar_counter',ascending= False)
newBlue.index=range(len(newBlue.index))
newBlue.head()

   bluecar_counter   city  month  year  hour  minute
0                7  Paris      4  2018    17      24
1                7  Paris      4  2018     3      12
2                6  Paris      4  2018     7      24
3                6  Paris      4  2018     4      15
4                6  Paris      4  2018    14      46

In [ ]:
#most popular station overall
popular_station = df[(df.bluecar_counter > 0) & (df.kind == 'STATION') & 
                       (df.status == 'ok')].groupby(['id'])['id'].count()
popular_station.sort_values(ascending= False).head()

id
paris-portedemontrouge-8              11
sevres-wolfenbuttel-1                 11
paris-bremontier-19                   10
paris-darcet-28                       10
fontenayauxroses-robertmarchand-32    10
Name: id, dtype: int64

In [ ]:
#postal code is the most popular for picking up Blue cars
postal_code = df[(df.id == 'paris-portedemontrouge-8') & (df.kind == 'STATION') & 
                       (df.bluecar_counter > 0)].groupby(['postal_code'])['postal_code'].count()
postal_code.sort_values(ascending = False)

postal_code
75014    11
Name: postal_code, dtype: int64

In [ ]:
#Do the results change if you consider Utilib instead of Blue cars
utilib = df[(df.city == 'Paris')  & (df.utilib_counter > 0) & (df.month == 4) & (df.year == 2018)]
utilib= blue[['utilib_counter','city','month','year','hour','minute']].sort_values(by ='utilib_counter',ascending= False)
utilib.index=range(len(utilib.index))
utilib.head()

   utilib_counter   city  month  year  hour  minute
0               2  Paris      4  2018     2      59
1               2  Paris      4  2018     7      52
2               2  Paris      4  2018    18      10
3               2  Paris      4  2018    21      13
4               2  Paris      4  2018     8      19

In [ ]:
#Do the results change if you consider Utilib 1.4 instead of Blue cars
utilib_1_4 = df[(df.city == 'Paris')  & (df.utilib_1_4_counter > 0) & (df.month == 4) & (df.year == 2018)]
utilib_1_4= utilib_1_4[['utilib_1_4_counter','city','month','year','hour','minute']].sort_values(by ='utilib_1_4_counter',ascending= False)
utilib_1_4.index=range(len(utilib_1_4.index))
utilib_1_4.head()

   utilib_1_4_counter   city  month  year  hour  minute
0                   3  Paris      4  2018    13      55
1                   2  Paris      4  2018    21      31
2                   2  Paris      4  2018     9      32
3                   2  Paris      4  2018    21      32
4                   2  Paris      4  2018    17      43